{% load static %}
<footer class="footer">
  <div class="footer-inner">
   <div class="wide-width footer-flex-items">
    <div class="contacts">
      <h3>Eaglehr Consultants Contacts</h3>
      <div><i class="fas fa-map-marker-alt"></i> <p>10th Floor Western Heights, Westlands Nairobi, Kenya.</p></div>
      <div><i class="fas fa-envelope-open-text"></i> <p>info@eaglehr.co.ke</p></div>
      <div><i class="fas fa-phone-square-alt"></i> <p>+254 700 769 770</p></div>
      <div><i class="fas fa-shipping-fast"></i>
        <p>P.O. Box 33929 - 00600
        Nairobi, Kenya.</p>
      </div>
    </div>
    <div class="useful-links">
      <h3>Useful Navigation Links</h3>
      <div>
        <a href="/african-talent/">African Talent</a>
      </div>
      <div>
        <i class="fas fa-dice-three"></i>
        <a href="/services/">Services</a>
      </div>
        <div><a href="/recruitment/">Recruitment</a></div> 
      <div>
        <a href="/outsourcing/">HR Outsourcing</a>
      </div>
       <div>
         <a href="/training/">Training</a>
       </div>
    </div>
  </div>
</div>
<div class="footer-end">
  <div class="globe">
    <div>
      <p>EagleHr&#174 is a registered company in Kenya</p>
    </div>
  </div>
  <p>&copy EagleHr {% now "Y" %}</p>
  {% comment %} <p>Website by <a href="https://visign.co.ke" target="_blank">visign.co.ke</a></p> {% endcomment %}
</div>
</footer>
<script src="{% static 'js/app.js' %}"></script>