{% load static %}
<section class="nav-section full-width">
  <div class="width hamburger-container">
    <div class="menu-btn">
      <i class="fas fa-bars fa-2x"></i>
    </div>
  </div>

  <nav class="main-nav wide-width">
    <a href="/">
      <img src="{% static 'images/eaglehr-logo.svg' %}" alt="Eaglehr logo" class="logo">
    </a>
    <ul class="main-menu">
      <li><a href="/jobs/">Jobs</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/outsourcing/">HR Outsourcing</a></li>
      <li><a href="/contact/">Contact Us</a></li>
    </ul>
  </nav>
</section>