<div class="w-11/12 mx-auto max-w-[1368px]">
  <section class="follow">
    <p>Follow us</p>
    <a href="https://www.facebook.com/EAGLE-HR-Consultants-Limited-180768482559263" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://twitter.com/eaglehrkenya" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/eagle-hr-consultants-ltd-bb150416a/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </section>
</div>