{% extends "sitewide/base.html" %}  
{% block content %}
<section class="width big-margin-top">
  <h1>We love to share useful knowledge about the HR industry.</h1>
  <p>
      Please visit often to learn more about HR. We are always posting new articles.
  </p>
</section>
<div class="post-container">
  <article class="width main-aside-wrapper">
    <div data-id="{{object.id}}" class="main">
      <h1>{{object.title | safe | title }}</h1>
      <div class="object-detail-date">Posted on <span>{{ object.date_created | date:"F d, Y" }}</span></div>
      <div class="margin-top body-text">
        <div class="body-p">{{ object.content | safe }}</div>
      </div>
    </div>
    <aside class="aside">
      <p>Currently reading <em>{{object.title | safe | title }}</em></p>
      <h2>More Recent Blogs.</h2>
      {% for item in others %}
          <a href="/blog/{{ item.slug }}"><p>{{item.title}}</p></a>
      {% endfor %}
    </aside>
  </div>
  </article>
</div>
{% endblock content %}