{% extends "sitewide/base.html" %}
{% load static %} 
{% block content %}

<div class="all-jobs width">
  <h1>Our available jobs</h1>
  <div class="jobs-container">
    {% for post in posts %}
      <section class="job-list">
        <article class="job-article">
          <a href="{{ post.slug }}"><h2>{{ post.title | safe | title }}</h2></a>
            <div class="post-apply-by side-by-side">
                <div><span>Added <strong>{{ post.date_created | timesince }}</strong> ago</span></div>
            </div>
        </article>
      </section>
    {% endfor %}
  </div>
</div>
{% endblock content %}
