{% extends "base/base.html" %} {% block content %}
<div class="container">
  <main class="width about">
    <h1>Thank you for visiting. Here's a few things about me!</h1>
    <p>Hi 👋🏾,</p>
    <p>
      I am a knowledge weaver, I enjoy piecing together fragmented information to build a body of knowledge that I can then share with those interested. By leveraging my skills as a designer and  software engineer I create systems that allow people to pick up new knowledge that can transform their lives.
    </p>
    <h2>Software Engineer</h2>
    <p>
      I am a Full Stack web engineer based in Nairobi, Kenya. I specialize in web development using Python(Django), JavaScript(Express and Svelte), Postgres and MongoDb. 
    </p>
    <h2>Technical Writer</h2>
    <p>
      I love sharing my experience and learning with others. This is usually in the form of blog posts <a href="/">on my blog.</a> Writing gives me a platform to connect and share what I learn as I deepen my knowledge in topics that I find interesting.
    </p>
    <p>
      I love to mentor people interested in becoming Software Engineers. This by way of giving guidance, tips and encouragement to people taking their first steps in coding or programming. If you are looking for a mentor, feel free to get in touch with me.
    </p>
  </main>
</div>
{% endblock content %}