{% extends "sitewide/base.html" %}
{% block content %}

<div class="blog-container">
  {% for post in page_obj %}
  <article class="width blogs">
    <div data-id="{{post.id}}" class="blog">
      <a href="/jobs/{{post.slug}}">
        <h2>{{ post.title | safe | title }}</h2>
      </a>
      <div class="date-author-tag">
        <div class="date-author">
          <div>Posted <span class="date">{{ post.date_created | timesince }}</span> ago</div><div>Apply before <span class="date">{{ post.apply_by_date |date:"D d M Y" }}</span></div>
        </div>
      </div>
      <div class="blog-snippet">
      </div> 
    </div>
  </article>
  {% endfor %}</div>

{% endblock content %}