{% extends "sitewide/base.html" %}
{% load static %}
{% block content %}

<div class="all-jobs width">
    <h1 class="mb-8 font-bold">Our available jobs</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-8">
        {% for post in page_obj %}
        <section class="job-list border p-5">
            <span class="block border-t-4 border-gray-300 h-4 w-1/2"></span>
            <span class="block text-xs">{{ post.category }}</span>
            <article class="job-article">
                <a href="{{ post.slug }}">
                    <h2 class="my-3 text-lg">{{ post.title | safe | title }}</h2>
                </a>

                <div class="text-xs">
                    <div><span>{{ post.type }} job in {{ post.location }}</span></div>
                </div>
                <div class="text-xs">
                    <div>
                        <span>Added <strong>{{ post.date_created | timesince }}</strong> ago</span>
                    </div>
                </div>

                <div class="mt-3">
                    <a href="{{ post.slug }}">
                        <span>
                            See job details
                        </span>
                    </a> or <a href="apply/{{ post.id }}">
                        <span>
                            Apply
                            here
                        </span>
                    </a>
                </div>
            </article>
        </section>
        {% endfor %}
    </div>
</div>
{% endblock content %}
