{% extends "sitewide/base.html" %}  
{% block content %}
<div class="post-container">
  <article class="width main-aside-wrapper">
    <div data-id="{{job.id}}" class="main">
      <h1>{{job.title | safe | title }}</h1>
      <div class="blog-detail-date">Posted on <span>{{ job.date_created | date:"F d, Y" }}</span> by <a href="#" class="author">{{ job.author }}</a></div>
      <div class="margin-top body-text">
        <div class="body-p">{{ job.content | safe }}</div>
      </div>
    </div>
    <div class="aside">
      <div>
        <p>Apply for the role of <strong><em>{{job.title | safe | title }}</em></strong>.</p>
        <p>This could be the beginning of something amazing. Good luck!</p>
        <a href="apply/{{job.id}}"><button class="button">Apply for Position</button></a>
      </div>
    </div>
  </article>
</div>
{% endblock content %}