<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="width">
            <h2>Publishers</h2>
                {% for post in object_list %}
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.date_created }}</p>
                    <p>{{ post.content | truncatewords:150 }}</p>
                {% endfor %}
        </div>
    </div>
</body>
</html>