{% extends "sitewide/base.html" %} {% load static %} {% block content %}
<section class="width big-margin-top">
  <h1>WANT TO TALK TO US?</h1>
</section>
<section class="contact-page width">
    <div class="contacts">
        <h2>We'd love to hear from you.</h2>
        <p>
            You can pay us a visit at our offices at Western Heights building in Westlands Nairobi or send us an email or call us. However you prefer, feel free!
        </p>
        <div>
            <i class="fas fa-map-marker-alt"></i> 10th Floor Western Heights, Westlands Nairobi, Kenya.
        </div>
        <div><i class="fas fa-envelope-open-text"></i> info@eaglehr.co.ke</div>
        <div><i class="fas fa-phone-square-alt"></i> +254 700 769 770</div>
        <div><i class="fas fa-shipping-fast"></i> P.O. Box 33929 - 00600 Nairobi, Kenya.
    </div>
</section>
<div class="main-aside-wrapper width">
  {% comment %} <main class="main"></main> {% endcomment %}

  <aside class="aside">
    <h2>Overview of our Core Solutions</h2>
    <p>
      People are at the heart of every successful organization. Investing in
      human capital is one of the smartest moves a business leader can make.
    </p>
    <ul>
      <li>Recruitment</li>
      <li>Payroll</li>
      <li>Employee Engagement</li>
      <li>Employee Relations</li>
      <li>Talent Management</li>
      <li>Training, Development, and Research</li>
      <li>Compliance</li>
      <li>Reporting</li>
    </ul>
  </aside>
</div>
{% endblock content %}
