{% extends "sitewide/base.html" %} 
{% load static %} 
{% block content %}
<section class="width big-margin-top">
  <h1>WANT TO TALK TO US</h1>
</section>
<section class="contact-page width">
    <div class="contacts">
        <h2>We'd love to hear from you.</h2>
        <p>
            You can pay us a visit at our offices here at Western Heights building in Westlands Nairobi or send us an email or give call us. However you prefer, feel free to reach us!
        </p>
        <div>
            <i class="fas fa-map-marker-alt"></i> 10th Floor Western Heights, Westlands Nairobi, Kenya.
        </div>
        <div><i class="fas fa-envelope-open-text"></i><a href="mailto:info@eaglehr.co.ke?subject=Contact%20message&body=Your%20message" target="_blank" rel="noopener noreferrer"><span>Send email to info@eaglehr.co.ke</span></a></div>
        <div><i class="fas fa-phone-square-alt"></i> +254 700 769 770</div>
        <div><i class="fas fa-shipping-fast"></i> P.O. Box 33929 - 00600 Nairobi, Kenya.
    </div>
</section>
{% endblock content %}
