{% extends "sitewide/base.html" %} 
{% load static %} 
{% block content %}
<section class="width big-margin-top">
  <h1>Learn More About Our Upcoming Training Events</h1>
  <h2>{{target_event.name}}</h2>
  <p>
    People are at the heart of every successful organization. Investing in
    human capital is one of the smartest moves a business leader can make.
    But without the right systems to manage and measure your performance,
    this investment will never truly deliver. The complexities of managing
    your human capital are made all the more complex as your organization
    grows and conducts business across borders.
  </p>
</section>
<div class="main-aside-wrapper width">
  <main class="main">
    <section class="services">
      {% if target_event %}
      {% for event in target_event %}
        <h2>{{ event.name }}</h2>
        <div class="service-span">
          <span><strong>Course duration</strong> {{ event.duration }} day{{event.duration|pluralize }}.</span> <span><strong>{{ event.location }}</strong>.</span> <span>Cost Ksh <strong>{{ event.cost|floatformat:2 }}</strong></span>
        </div>
        <p>{{ event.description | safe}}</p>
      {% endfor %}
      {% else %}
        <h2>No event matching your request found</h2>
      {% endif %}
    </section>
  </main>

  <aside class="aside">
    <h2>More of Our Upcoming Trainings</h2>
    {% for event in other_events %}
        <a href="/events/{{ event.id }}"><p>{{event.name}}</p></a>
    {% endfor %}
  </aside>
</div>
{% endblock content %}
