{% extends "sitewide/base.html" %} {% load static %} {% block content %}

<header class="header width">
  <div class="width">
    <h1>Expert HR Advisory Solutions To Develop Sustainable Growth.</h1>
    <p>See how we can help your business leap to the next level of growth.</p>
    <a href="/training/" class="btn">
      <span>Train Now</span> <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</header>

<div class="width news-events">
  <h2>Our Services</h2>
</div>

<section class="width home-cards">
  <div>
    <img src={% static 'images/colleagues.jpg' %} alt="">
    <h3>Top Talent Sourcing</h3>
    <p>
      Strategic sourcing skills play an important role in the cost structure and
      competitiveness of small and large businesses.
    </p>
    <a href="services/">Learn More <i class="fas fa-chevron-right"></i></a>
  </div>
  <div>
    <img src={% static 'images/meeting.jpg' %} alt="" />
    <h3>Acquisition & Retention</h3>
    <p>
      Businesses strive to attract the best talent so that they can be trained
      and moulded into future leaders of the company.
    </p>
    <a href="services/">Learn More <i class="fas fa-chevron-right"></i></a>
  </div>
  <div>
    <img src={% static 'images/interview-session.jpg' %} alt="" />
    <h3>Interviews On Your Behalf</h3>
    <p>
      You should contact the applicants to be interviewed by telephone, by
      sending a letter in the mail, or email to schedule interviews.
    </p>
    <a href="services/">Learn More <i class="fas fa-chevron-right"></i></a>
  </div>
  <div>
    <img src={% static 'images/manage-talent.jpg' %} alt="" />
    <h3>We take Care of Your Talent</h3>
    <p>
      To find out what one is fitted to do, and to secure an opportunity to do
      it, is the key to happiness. Happy employees happy clients.
    </p>
    <a href="services/">Learn More <i class="fas fa-chevron-right"></i></a>
  </div>
</section>

<section class="width breakout">
  <div class="content">
    <h2>Learn About Our Vision for The African Talent</h2>
    <p>
      At the heart of everything we do is a fundamental belief in the power of
      people. We have invested time into making this a sales training that will
      result in at least 30% increase...
    </p>
    <a href="african-talent" class="btn">
      <span>Learn More</span> <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</section>

<div class="width news-events">
  <h2>How Will You Benefit Working With Us</h2>
</div>

<section class="width home-cards">
  <div>
    <img src={% static 'images/explore-learning.jpg' %} alt="" />
    <h3>Managed Payroll</h3>
    <p>
      Our payroll solutions can facilitate the management of all remuneration
      related information and ensure the companies specific policies and
      procedures are adhered to.
    </p>
    <a href="#">Learn more <i class="fas fa-chevron-right"></i></a>
  </div>
  <div>
    <img src={% static 'images/sales-techniques.jpg' %} alt="" />
    <h3>Staying Compliant</h3>
    <p>
      Staying up to date with regulatory and compliance requirements is
      imperative to a company’s sustainability and operational integrity.
    </p>
    <a href="#">Learn more <i class="fas fa-chevron-right"></i></a>
  </div>
  <div>
    <img src={% static 'images/brainstorming-session.jpg' %} alt="" />
    <h3>Employee Management</h3>
    <p>
      Employee management is critical to this and the more self-service
      components and processes there are, the greater the strategic gains.
    </p>
    <a href="">Learn more <i class="fas fa-chevron-right"></i></a>
  </div>
  <div>
    <img src={% static 'images/looking-back.jpg' %} alt="" />
    <h3>Employee Development</h3>
    <p>
      It is incredibly hard to find an employee who ticks every box when it
      comes to job requirements but that’s where development and
      performance-based goal setting comes in.
    </p>
    <a href="#">Learn more <i class="fas fa-chevron-right"></i></a>
  </div>
</section>

<div class="width news-events">
  <h2>Our Upcoming Training Events</h2>
</div>
<div class="events">
  {% if events %} 
    {% for event in events %}
    <article class="event-card">
      <section class="event-card-content">
        <span class="month">{{ event.start_date | date:'M' }}.</span>
        <span class="date">{{ event.start_date.day }}</span>
        <span class="year">{{ event.start_date.year }}</span>
      </section>
      <div class="body-text">
        <a href="/"><h3>{{ event.name }}</h3></a>
        <div class="duration"><p>Course duration {{ event.duration }} day{{event.duration|pluralize }}</p></div>
        <div class="cost"><p>Cost Ksh {{ event.cost|floatformat:2 }}</p></div>
        <div class="location"><p>{{ event.location }}</p></div>
      </div>
    </article>
    {% endfor %}
  {% else %} 
    <p>
      We don't have any upcoming event at the moment. Please check back later.
    </p>
  {% endif %} 
</div>

<section class="width carbon">
  <div class="content">
    <h2>THE HR LIFECYCLE</h2>
    <p>
      At Eagle HR Consultants, we understand the entire HR Lifecycle. From
      recruitment & onboarding to employee engagement and exit interviews, we
      have the skills and technology to support the entire lifecycle.
    </p>
    <a href="/hr-life-cycle/" class="btn">
      <span>Learn More</span> <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</section>
{% endblock content %}
