{% extends "sitewide/base.html" %}
{% load static %}
{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
<div class="width">
    <h1>Available jobs</h1>
    <section class="job-list border">
        <article class="job-article">
            <h2>Chief Executive Officer</h2>
            <div class="post-apply-by side-by-side">
                <div><span>Posted <strong>2 days 4 hours</strong> ago</span></div>
                <div><span>Application deadline, <strong>Tue 14 July</strong></span></div>
            </div>
            <div class="location-job-type side-by-side">
                <div><span>In Mombasa</span></div>
                <div><span>Fulltime job</span></div>
            </div>
            <div><a href="#"><span>See more details</span></a></div>
        </article>
    </section>
</div>
{% endblock content %}
{% block script %}
<script></script>
{% endblock script %}